/* Start of My Projects Styling */
.my-projects {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.project {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.section-title {
    width: 100%;
}
.my-projects h2 {
    font-size: 60px;
    border-bottom: 3px solid;
}
.project-details {
    width: 100%;
}
.project-title {
    font-size: 40px;
}
.projects-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.project-details p {
    font-size: 25px;
    padding-top: 10px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-sizing: border-box
}
/* Start of Oil Change Project Styling */
.oil-change-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.oil-change {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}
.oc-project-images {
    padding-top: 30px;
    display: none;
}
.oil-change-image {
    width: 600px;
}
/* End of Oil Change Project Styling */


/* Start of Drunk Trivia Project Styling */
.drunk-trivia-project {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.drunk-trivia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}
.dt-list-holder {
    display: flex;
    justify-content: center;
}
.drunk-trivia-list {
    list-style-type: square;
    text-align: center;
    font-size: 20px;
}
.dt-project-images {
    padding-top: 30px;
    display: none;
}
.drunk-trivia-image {
    width: 600px;
}
/* End of Drunk Trivia Styling */



/* Image Slideshow Code */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 47%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: gray;
  }
  .oc-project-images p, .dt-project-images p {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    text-align: center;
  }
  
  .dot, .dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover, .dot2:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  
  /* End of Image Slideshow Code */

/* End of My Projects Styling */
